:root {
  --background-light: #ffffff;
  --text-light: #333333;

  --background-dark: #1a1a1a;
  --text-dark: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: var(--background-dark);
  color: var(--text-dark);
  transition: background-color 0.3s, color 0.3s;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
